@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.row-1{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-2{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 500px;
}
.row-3{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 500px;
}
.hotel-bg-container{
    width: 80%;
    height: 300px;
    background-image: url(./imgs/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid black 4px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items:end;
}
.hotel-bg-container h1{
    width: auto;
    height: auto;
    font-size: 75px;
    font-family: "Inter", sans-serif;
    color: white;
    -webkit-text-stroke: 1px black;
}
.welcome-container{
    width: 500px;
    height: 90%;
    border: black 2px solid;
    background-color: rgb(168, 168, 168);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.navbar-container{
    width: 500px;
    height: 90%;
    border: black 2px solid;
    background-color: rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
}
.navbar-container a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    margin: 20px;
    color: white;
    font-weight: 600;
    -webkit-text-stroke: 2px black;
}
.footer-container{
    background-image: url(./imgs/Ellipse.webp);
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
}
.footer-container h1{
    height: auto;
    width: auto;
}
.mobile-nav{
    width: 100%;
    height: 75px;
    display: none;
    justify-content: end;
}
.nav-button{
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 10px;
}
.nav-button img{
    width: 70px;
    height: 70px;
}
.mobile-nav-container{
    width: 100%;
    height: 40%;
    position: absolute;
    background-color: rgb(85, 85, 85);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 30px;
    display: none;
}
.mobile-nav-container.open{
    display: none;
}
.mobile-nav-container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .row-2{
        flex-direction: column;
        gap: 50px;
        height: 500px;
    }
    .welcome-container{
        width: 95%;
    }
    .navbar-container{
        width: 95%;
    }
    .footer-container{
        margin-top: 100px;
    }
    .hotel-bg-container h1{
        font-size: 40px;
    }
    .navbar-container{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
    .mobile-nav-container.open{
        display: flex;
    }
  }